{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Reset your password
{% endblock title %}

{% block content %}
<div class="container my-5">
    <br>
    <br>
    <h1 class="text-center">Reset your password</h1>
    <br>
    <p class="text-center">Enter your email to obtain a new password</p>

</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <form method="POST">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <input type="submit" value="Send e-mail" class="btn-order py-0">
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}