{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="error">
        <div class="container">
            <div class="heading-sub">
                <h3 class="pull-left">500 error</h3>
                <ul class="other-link-sub pull-right">
                    <li><a href="/">Home</a></li>
                    <li><a class="active" href="#error">500</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="error-content">
                
                <div class="error-text text-center">
                    <h2>500 Error</h2>
                </div>
                
            </div>
        </div>
    </section>
{% endblock content %}